<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FacturaApp</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    
</head>
<body>
<div class="d-flex min-vh-100">
<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px; min-height: 100vh;"> <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none"> <svg class="bi pe-none me-2" width="40" height="32" aria-hidden="true"><use xlink:href="#bootstrap"></use></svg> <span class="fs-4">Tu Supermercado</span> </a> <hr> <ul class="nav nav-pills flex-column mb-auto"> <li class="nav-item"> <a href="#" class="nav-link active" aria-current="page"> <svg class="bi pe-none me-2" width="16" height="16" aria-hidden="true"><use xlink:href="#home"></use></svg>
Home
</a> </li> <li> <a href="#" class="nav-link text-white"> <svg class="bi pe-none me-2" width="16" height="16" aria-hidden="true"><use xlink:href="#speedometer2"></use></svg>
Facturación
</a> </li> <li> <a href="#" class="nav-link text-white"> <svg class="bi pe-none me-2" width="16" height="16" aria-hidden="true"><use xlink:href="#table"></use></svg>
Inventario
</a> </li> <li> <a href="#" class="nav-link text-white"> <svg class="bi pe-none me-2" width="16" height="16" aria-hidden="true"><use xlink:href="#grid"></use></svg>
Promociones
</a> </li> <li> <a href="#" class="nav-link text-white"> <svg class="bi pe-none me-2" width="16" height="16" aria-hidden="true"><use xlink:href="#people-circle"></use></svg>
Vendedores
</a> </li> <li> <a href="form_clients" class="nav-link text-white"> <svg class="bi pe-none me-2" width="16" height="16" aria-hidden="true"><use xlink:href="#speedometer2"></use></svg>
Clientes
</a> </li> <li> <a href="#" class="nav-link text-white"> <svg class="bi pe-none me-2" width="16" height="16" aria-hidden="true"><use xlink:href="#speedometer2"></use></svg>
Administración
</a> </li> </ul> <hr> <div class="dropdown"> <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"> <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2"> 
<strong>mdo</strong> </a> <ul class="dropdown-menu dropdown-menu-dark text-small shadow"> <li><a class="dropdown-item" href="#">New project...</a></li> <li><a class="dropdown-item" href="#">Settings</a></li> <li><a class="dropdown-item" href="#">Profile</a></li> <li><hr class="dropdown-divider"></li> <li><a class="dropdown-item" href="#">Sign out</a></li> </ul> </div> </div>    

<main class="flex-grow-1 p-4">
    <h2 class="mb-4">Listado de clientes</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Tipo de documento</th>
      <th scope="col">Cedula</th>
      <th scope="col">Name</th>
      <th scope="col">Direccion</th>
      <th scope="col">Telefono</th>
      <th scope="col">Email</th>
      <th scope="col">Fecha de nacimiento</th>
      <th scope="col">Edad</th>
      <th scope="col">Fecha de registro</th>            
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>CC</td>
      <td>1032456781</td>
      <td>Daniela Castro</td>
      <td>Calle 52 # 18-34</td>
      <td>3114567892</td>
      <td>daniela.castro@gmail.com</td>      
      <td>1999-02-14</td>
      <td>27</td>
      <td>2026-06-03</td>      
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>CC</td>
      <td>1045678932</td>
      <td>Sebastian Lopez</td>
      <td>Av. El Poblado # 45-67</td>
      <td>3012345678</td>
      <td>sebastian.lopez@gmail.com</td>
      <td>1995-11-28</td>
      <td>28</td>
      <td>2023-09-15</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>CC</td>
      <td>1019876543</td>
      <td>Valentina Perez</td>
      <td>Diagonal 45 # 12-34</td>
      <td>3009876543</td>
      <td>valentina.perez@gmail.com</td>
      <td>1998-07-20</td>
      <td>25</td>
      <td>2024-03-10</td>
    </tr>
  </tbody>
</table>
</main>
</body>
</body>
</html>